<section th:fragment="header_fr">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Реєстр</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/physpers}">Відомості про фізичних осіб підприємців</a>
            <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/jurpers}">Відомості про Юридичних осіб</a>
            <a th:if="${!auth_service.isUnregistered()} and ${auth_service.isAdmin()}" class="me-3 py-2 text-dark text-decoration-none" th:href="@{/registrators}">Реєстратори</a>
            <a th:if="${!auth_service.isUnregistered()} and ${auth_service.isAdmin()}" class="me-3 py-2 text-dark text-decoration-none" th:href="@{/logs}">Журнал подій</a>
            <a th:if="${auth_service.isUnregistered()}" class="me-3 py-2 text-dark text-decoration-none" th:href="@{/sign-in}">Вхід</a>
            <a th:if="${!auth_service.isUnregistered()}" class="me-3 py-2 text-dark text-decoration-none" th:href="@{/sign-out}">Вихід</a>
        </nav>
    </div>
</section>
