<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Реєстр</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <!--                    @if (TempData.Peek("currentRole") != null)-->
                <!--                    {-->
                <!--                    @if (RolesEnum.Registrator == (RolesEnum)TempData.Peek("currentRole"))-->
                <!--                    {-->
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="PhysicalPersonEnterprenerRegstationModels" asp-action="Index">Відомості про фізичних осіб підприємців</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="JuridicalPersonRegistrationModels" asp-action="Index">Відомості про Юридичних осіб</a>
                </li>
                <!--                    }-->

                <!--                    @if (RolesEnum.Administrator == (RolesEnum)TempData.Peek("currentRole"))-->
                <!--                    {-->
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="RegistratorModels" asp-action="Index">Реєстратори</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="LogJournalModels" asp-action="Index">Журнал подій</a>
                </li>
                <!--                    }-->

                <li class="nav-item flex-grow-1"></li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="SingIns" asp-action="LeaveSession">Вихід</a>
                </li>
                <!--                    }-->
                <!--                    else-->
                <!--                    {-->
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="PhysicalPersonEnterprenerRegstationModels" asp-action="Index">Відомості про фізичних осіб підприємців</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="JuridicalPersonRegistrationModels" asp-action="Index">Відомості про Юридичних осіб</a>
                </li>

                <li class="nav-item flex-grow-1"></li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="SingIns" asp-action="Index">Вхід</a>
                </li>
                <!--                    }-->
            </ul>
        </div>
    </div>
</nav>